<div class="card session-card" (click)="goToArticle()">
  <div class="card-image">
    <div class="imageelement" [ngStyle]="{'background-image': 'url(' + article.main_image.image?.small + ')'}"></div>
  </div>
  <div class="card-content">
    <span class="card-title">{{ article.title }}</span>
    <p class="date small">{{ article.post_date }}</p>
    <p class="brief">{{ article.list_description }}</p>
  </div>
  <div class="card-action">
    <a routerLink='/article/{{ article.slug }}' >Read more</a>
  </div>
</div>
