<div class="container">
  <div class="row height-spacer"></div>
  <div class="row">
    <!-- This is for main section -->
    <div class="col s12 m9 l9">
      <div class="card-panel">
        <h1>Enquiries</h1>
        <p>If you have a question or would like more information about the club and what we do.<br>
        Please fill in the form below or send us an email and we shall get back in contact with you shortly.</p>

        <div>
          <form class="formhalf">
            <div class="input-field">
              <input id="message_email" type="email" class="validate">
              <label for="message_email">Email</label>
            </div>

            <div class="input-field">
              <input id="message_name" type="text" class="validate">
              <label for="message_name">Name</label>
            </div>

            <div class="input-field">
              <textarea id="message_text" class="materialize-textarea"></textarea>
              <label for="message_text">Comment</label>
            </div>

            <div class="input-field">
              <a class="waves-effect waves-light btn">Send</a>
            </div>


          </form>
        </div>

      </div>
    </div>

    <!-- This is for the left col -->
    <div class="col s12 m3 l3">
      <!-- get in touch box -->
      <div class="col s12 m12 l12">
        <div class="card session-card">
          <div class="card-content">
            <span class="card-title">Get in Touch</span>
            <p>If you want to join us or contact us for information.</p>
          </div>
          <div class="card-action">
            <a href="mailto:enquiry@club.com">Email </a>
          </div>
        </div>
      </div>

      <div class="col s12 m12 l12">
        <!-- mailing list subscribe -->
        <form class="card session-card">
          <div class="card-content">
            <span class="card-title">Subscribe to the Mailing list</span>

            <div class="input-field">
              <input id="sub_email" type="email" class="validate">
              <label for="sub_email">Email</label>
            </div>

            <div class="input-field">
              <input id="sub_name" type="text" class="validate">
              <label for="sub_name">Name</label>
            </div>

          </div>
          <div class="card-action">
            <button class="btn">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
