.cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
  color:$main;
}

.cal-month-view .cal-days{
  border:1px solid $main;
  border-bottom:0;
}

.cal-month-view .cal-days .cal-cell-row{
  border-bottom: 1px solid $main;
}

.cal-month-view .cal-day-cell:not(:last-child){
  border-right:1px solid $main;
}

.cal-cell-tide{
  min-height:160px;
  position: relative;
  width: 100%;

  .cal-chart{
    width:100%;
    height:80px;
    position: absolute;
    top: 25px;
  }

  .cal-date{
    float: left;
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
    color:$main;
  }

  .cal-weather{
    float:right;
    margin: 5px;
  }
  .cal-actions{
    position: absolute;
    width:100%;
    bottom:0px;

    .chip{
      width:100%;
    }
  }

}

.modal-overlay{
  display: none !important;
}

.eventblock{
  margin-bottom:10px;
  padding-bottom:10px !important;
  border-bottom:1px solid $main;
  p{
    margin:0px;
    padding-bottom:2px;
  }
}
