// colours
$background:#ffffff;
$body:#0e0e0e;
$main:#140d47;
$lightblue:#2287b0;
$darkblue:#140d47;

// fonts
body{
  font-family: 'Catamaran', sans-serif;
  color:$body;
}
h1{
  font-size:30px;
  line-height:31px;
}

.height-spacer{
  /*width:100%;*/
  height:100%;
  position: absolute;
}

.btn{
  text-decoration: none;
  color: #fff;
  background-color: $main;
  text-align: center;
  letter-spacing: .5px;
  cursor: pointer;
  margin-bottom:5px;
  transition: background 1s, color 1s;
  transition-timing-function: ease-in-out;
  border: 1px solid $main;

  &:hover{
    background: $background;
    color: $main;
    border: 1px solid $main;
  }
}

input:not([type]).invalid + label:after, input:not([type]):focus.invalid + label:after, input[type=text].invalid + label:after, input[type=text]:focus.invalid + label:after, input[type=password].invalid + label:after, input[type=password]:focus.invalid + label:after, input[type=email].invalid + label:after, input[type=email]:focus.invalid + label:after, input[type=url].invalid + label:after, input[type=url]:focus.invalid + label:after, input[type=time].invalid + label:after, input[type=time]:focus.invalid + label:after, input[type=date].invalid + label:after, input[type=date]:focus.invalid + label:after, input[type=datetime].invalid + label:after, input[type=datetime]:focus.invalid + label:after, input[type=datetime-local].invalid + label:after, input[type=datetime-local]:focus.invalid + label:after, input[type=tel].invalid + label:after, input[type=tel]:focus.invalid + label:after, input[type=number].invalid + label:after, input[type=number]:focus.invalid + label:after, input[type=search].invalid + label:after, input[type=search]:focus.invalid + label:after, textarea.materialize-textarea.invalid + label:after, textarea.materialize-textarea:focus.invalid + label:after{
  content:attr(data-error);
  color:$main;
}

.container{
}
