// colours
$background:#ffffff;
$body:#0e0e0e;
$main:#2287b0;

// fonts
body{
  font-family: 'Catamaran', sans-serif;
  color:$body;
}
h1{
  font-size:30px;
  line-height:31px;
}

.height-spacer{
  width:100%;
  height:100%;
  position: absolute;
}
