<div class="imagewrap">
  <div class="imageelement" [ngStyle]="{'background-image': 'url(' + image?.file + ')'}" ></div>
</div>
<div class="imagespacer"></div>
<div class="row">
  <div class="col s12">
    <div class="card-panel">
      <h1>Articles</h1>
      <div class="row">
        <div class="col s12 m3 l3 wow fadeIn" *ngFor="let article of articles">
          <app-square-item [article]="article"></app-square-item>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="imagespacer"></div>
