<div class="navbar-fixed">
    <nav >
      <div class="nav-wrapper">
        <a routerLink="/" class="brand-logo"><app-logo></app-logo>Chiswick Canoe Pier Club</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse" materialize="sideNav"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/about">About</a></li>
          <li><a >Membership</a></li>
          <li><a routerLink="/enquiry">Enquiries</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/article">Articles</a></li>
          <li><a href="">Events</a></li>
          <li><a routerLink="/session">Sessions</a></li>
          <li><a href="">Trips</a></li>
          <li><a routerLink="/newsletter">Newsletter</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo" >
          <li><a routerLink="/about">About</a></li>
          <li><a >Membership</a></li>
          <li><a routerLink="/enquiry">Enquiries</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
          <li><a routerLink="/article">Articles</a></li>
          <li><a href="">Events</a></li>
          <li><a routerLink="/session">Sessions</a></li>
          <li><a href="">Trips</a></li>
          <li><a routerLink="/newsletter">Newsletter</a></li>
        </ul>
      </div>
    </nav>
</div>
