<div class="container">
  <div class="col s12 m10 offset-m1">
    <nav materialize>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><app-logo></app-logo>Chiswick Canoe Pier Club</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="">About</a></li>
          <li><a href="">Enquiries</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Sessions</a></li>
          <li><a href="">Trips</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Login</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="">About</a></li>
          <li><a href="">Enquiries</a></li>
          <li><a href="">FAQ</a></li>
          <li><a href="">Articles</a></li>
          <li><a href="">Events</a></li>
          <li><a href="">Sessions</a></li>
          <li><a href="">Trips</a></li>
          <li><a href="">Newsletter</a></li>
          <li><a href="">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
